<?xml version="1.0"?>
<launch>
    <node pkg="nodelet" type="nodelet" args="load mlmapping/AwarenessMapNodeletClass mlmapping_nodelet_manager"
        name="awareness_loader" output="screen">
        <remap from="/mlmapping/pc"          to="/camera1/depth/color/points"/>
        <remap from="/mlmapping/pose"        to="/mavros/local_position/pose"/>
    </node>

    <node pkg="nodelet" type="nodelet" args="load mlmapping/LocalMapNodeletClass mlmapping_nodelet_manager"
        name="localmap_loader" output="screen">
    </node>
    
</launch>
